[ req ]
default_bits = 4096
distinguished_name	= req_distinguished_name
x509_extensions	= v3_ca	

[ req_distinguished_name ]
0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= Local

[ v3_ca ]
basicConstraints = CA:FALSE
subjectAltName = @alt_names

[ alt_names ]
DNS = localhost
